[configurator]
url = "http://3.68.58.96:8000/binance/1"
update_seconds = 10

[aeron]

[aeron.subscribers]
logs = { channel = "aeron:ipc", stream_id = 1002, fragments_limit = 10 }

[aeron.publishers]
config = { channel = "aeron:ipc", stream_id = 1003 }
logs = { channel = "aeron:ipc", stream_id = 1004 }
