[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tomli = "*"
schedule = "*"
requests = "*"

[dev-packages]

[requires]

[packages.aeron]
git = "https://github.com/RoboTradeCode/aeron-python.git"
